<div class="panel panel-default">
<strong>Gardener health</strong>
<%= form_for([@group, @gardener, @gardener.build_health]) do |g| %>
<fieldset>
<div class="btn-group btn-group-justified">
         
      <%= g.label :meals, "How many meals in an average day do you eat" %> <br/>
      
      <%= g.radio_button :meals, :one %> 
      <%= g.label :meals_1, "1" %> <br/>
      
      <%= g.radio_button :meals, :two %>
      <%= g.label :meals_2, "2" %> <br/>
       

      <%= g.radio_button :meals, :three %> 
      <%= g.label :meals_3, "3" %><br/>
      

      <%= g.radio_button :meals, :four %> 
      <%= g.label :meals_4, "4" %> <br/>
      

      <%= g.radio_button :meals, :five %> 
      <%= g.label :meals_5, "5" %> <br/>
      

      <%= g.radio_button :meals, :six %> 
      <%= g.label :meals_6, "6" %> <br/>
     
      <%= g.label :meals_with_veg, "How many meals in an average day do you eat that include veg" %> <br/>
      
      <%= g.radio_button :meals_with_veg, :one %> 
      <%= g.label :meals_with_veg_1, "1" %> <br/>
      
      <%= g.radio_button :meals_with_veg, :two %>
      <%= g.label :meals_with_veg_2, "2" %> <br/>
       

      <%= g.radio_button :meals_with_veg, :three %> 
      <%= g.label :meals_with_veg_3, "3" %><br/>
      

      <%= g.radio_button :meals_with_veg, :four %> 
      <%= g.label :meals_with_veg_4, "4" %> <br/>
      

      <%= g.radio_button :meals_with_veg, :five %> 
      <%= g.label :meals_with_veg_5, "5" %> <br/>
      

      <%= g.radio_button :meals_with_veg, :six %> 
      <%= g.label :meals_with_veg_6, "6" %> <br/>

      <%= g.label :health, "In general how would you say your health is?" %> <br/>

      <%= g.radio_button :diet_general_health, :excellent %> 
      <%= g.label :health, "excellent" %> <br/>
      

      <%= g.radio_button :diet_general_health, :very_good %> 
      <%= g.label :diet_general_health_very_good, "Very Good" %> <br/>

      <%= g.radio_button :diet_general_health, :good %> 
      <%= g.label :diet_general_health_good, "Good" %> <br/>
      

      <%= g.radio_button :diet_general_health, :fair %> 
      <%= g.label :diet_general_health_fair, "Fair" %> <br/>
      

      <%= g.radio_button :diet_general_health, :poor %> 
      <%= g.label :diet_general_health_poor, "Poor" %> <br/>
      

       <%= g.radio_button :diet_general_health, :very_poor %> 
       <%= g.label :diet_general_health_very_poor, "Very Poor" %> <br/>
      
      




<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
