<div class="panel panel-default">
<strong>Gardener health</strong>
<%= form_for([@group, @gardener, @gardener.build_health]) do |g| %>
<fieldset>
<div class="btn-group btn-group-justified">
         
      <%= g.label :meals, "How many meals in an average day do you eat" %> <br/>
      
      <%= g.radio_button :meals, :one %> 
      <%= g.label :meals_1, "1" %> <br/>
      
      <%= g.radio_button :meals, :two %>
      <%= g.label :meals_2, "2" %> <br/>
       

      <%= g.radio_button :meals, :three %> 
      <%= g.label :meals_3, "3" %><br/>
      

      <%= g.radio_button :meals, :four %> 
      <%= g.label :meals_4, "4" %> <br/>
      

      <%= g.radio_button :meals, :five %> 
      <%= g.label :meals_5, "5" %> <br/>
      

      <%= g.radio_button :meals, :six %> 
      <%= g.label :meals_6, "6" %> <br/>
     
      <%= g.label :meals_with_veg, "How many meals in an average day do you eat that include veg" %> <br/>
      
      <%= g.radio_button :meals_with_veg, :one %> 
      <%= g.label :meals_with_veg_1, "1" %> <br/>
      
      <%= g.radio_button :meals_with_veg, :two %>
      <%= g.label :meals_with_veg_2, "2" %> <br/>
       

      <%= g.radio_button :meals_with_veg, :three %> 
      <%= g.label :meals_with_veg_3, "3" %><br/>
      

      <%= g.radio_button :meals_with_veg, :four %> 
      <%= g.label :meals_with_veg_4, "4" %> <br/>
      

      <%= g.radio_button :meals_with_veg, :five %> 
      <%= g.label :meals_with_veg_5, "5" %> <br/>
      

      <%= g.radio_button :meals_with_veg, :six %> 
      <%= g.label :meals_with_veg_6, "6" %> <br/>

      <h3> In general how would you say your health is? </h3> <br/>

      <%= g.radio_button :health, :excellent %> 
      <%= g.label :health, "excellent" %> <br/>
      

      <%= g.radio_button :health, :very_good %> 
      <%= g.label :health_very_good, "Very Good" %> <br/>

      <%= g.radio_button :health, :good %> 
      <%= g.label :health_good, "Good" %> <br/>
      

      <%= g.radio_button :health, :fair %> 
      <%= g.label :health_fair, "Fair" %> <br/>
      

      <%= g.radio_button :health, :poor %> 
      <%= g.label :health_poor, "Poor" %> <br/>
      

       <%= g.radio_button :health, :very_poor %> 
       <%= g.label :health_very_poor, "Very Poor" %> <br/>
      
      <h3> Do you have any of the following illnesses </h3>

      <%= g.radio_button :illness, :diabetes %>
      <%= g.label :illness_diabetes, "Diabetes" %> <br/>

      <%= g.radio_button :illness, :cancer %>
      <%= g.label :illness_cancer, "Cancer" %> <br/>

      <%= g.radio_button :illness, :arthritis %>
      <%= g.label :illness_cancer, "Arthritis" %> <br/>

      <%= g.radio_button :illness, :tb %>
      <%= g.label :illness_tb, "TB" %> <br/>

      <%= g.radio_button :illness, :HIV_AIDS %>
      <%= g.label :illness_hiv_aids, "HIV/AIDS" %> <br/>




<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
