<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @phone.condition %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @phone.comment %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
