<div class="panel panel-default">
<%= form_for([@group, @gardener, @gardener.build_follow_up_visit_eating]) do |g| %>
<fieldset>

      <%= g.label :eating, "Is the gardener eating from his/her garden?" %> <br/>
      <%= g.check_box :eating %> <body> rememeber to tick if true </body>
    </p>

     <p>
      <%= g.label :eating_sum, "How many times this month have they eaten from the garden?" %> <br/>
      <%= g.number_field :eating_sum %> 
    </p>
    
<p>
      <%= g.label :veg_type_eaten, "What different kinds of veg were eaten in the last month from the garden?" %> 
      <%= g.text_field :veg_type_eaten %>
      </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
