<div class="panel panel-default">
<strong>Add a Home Garden</strong>
<%= form_for([@group, @gardener, @gardener.build_employment]) do |g| %>
<fieldset>
<p>
      <%= g.label :employed, "Are you currently employed?" %> 
      <%= g.check_box :employed %>
    </p>

    <p>
      <%= g.label :type, "what form of employment do you have?" %> 
       <%= g.label :type_full_time, "Full Time" %>
      <%= g.radio_button :type, :full_time %> <br/>

      <%= g.label :type_part_time, "Part Time" %>
      <%= g.radio_button :type, :part_time %> <br/>

      <%= g.label :type_casual, "Casual" %>
      <%= g.radio_button :type, :casual %> <br/>

      <%= g.label :type_self_employed, "Self employed" %>
      <%= g.radio_button :type, :casual %> <br/>

      <%= g.label :type_freelance, "Freelance" %>
      <%= g.radio_button :type, :freelance %> <br/>
    </p>

     <p>
     <%= g.label :earning_power, "How much per month do you earn?" %> 

      <%= g.label :earning_power_none, "None" %>
      <%= g.radio_button :earning_power, :none %> <br/>

     <%= g.label :earning_power_R1_to_R400, "R1-R400" %>
      <%= g.radio_button :earning_power, :R1_to_R400 %> <br/>

      <%= g.label :earning_power_R401_to_800, "R401-R800" %>
      <%= g.radio_button :earning_power, :R401_to_R800 %> <br/>

       <%= g.label :earning_power_R801_to_1600, "R801-R1800" %>
      <%= g.radio_button :earning_power, :R801_to_R1600 %> <br/>

      <%= g.label :earning_power_R1601_to_3200, "R1601-R3200" %>
      <%= g.radio_button :earning_power, :R801_to_R1600 %> <br/>

      <%= g.label :earning_power_R3201_to_R6400, "R3201-R6400" %>
      <%= g.radio_button :earning_power, :R3210_to_R6400 %> <br/>

      <%= g.label :earning_power_R6401_to_R12800, "R6401-R12800" %>
      <%= g.radio_button :earning_power, :R6401_to_R12800 %> <br/>

      <%= g.label :earning_power_R12801_plus, "More than R12800" %>
      <%= g.radio_button :earning_power, :R6401_to_R12800 %> <br/>

      <%= g.label :earning_power_na, "Prefer not to answer" %>
      <%= g.radio_button :earning_power, :na %> <br/>
      </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
