<div class="panel panel-default">
<%= form_for([@group, @gardener, @gardener.build_employment]) do |g| %>
<fieldset>
<p>
      <%= g.label :employed, "Are you currently employed?" %> <br/>
      <%= g.check_box :employed %> <body> *Tick if currently employed* </body>
    </p>

    <p>
      <%= g.label :employment_type, "what form of employment do you have?" %> <br/>
       
      <%= g.radio_button :employment_type, :full_time %> 
       <%= g.label :employment_type_full_time, "Full Time" %>
      <br/>

      <%= g.radio_button :employment_type, :part_time %>
      <%= g.label :employment_type_part_time, "Part Time" %>
       <br/>

      <%= g.radio_button :employment_type, :casual %>
      <%= g.label :employment_type_casual, "Casual" %>
       <br/>

      <%= g.radio_button :employment_type, :casual %>
      <%= g.label :employment_type_self_employed, "Self employed" %>
       <br/>

      <%= g.radio_button :employment_type, :freelance %>
      <%= g.label :employment_type_freelance, "Freelance" %>
       <br/>
    </p>

     <p>
     <%= g.label :earning_power, "How much per month do you earn?" %> <br/>

      <%= g.radio_button :earning_power, :none %>
      <%= g.label :earning_power_none, "None" %>
       <br/>

      <%= g.radio_button :earning_power, :R1_to_R400 %>
     <%= g.label :earning_power_R1_to_R400, "R1-R400" %>
      <br/>

      <%= g.radio_button :earning_power, :R401_to_R800 %>
      <%= g.label :earning_power_R401_to_800, "R401-R800" %>
       <br/>

       <%= g.radio_button :earning_power, :R801_to_R1600 %>
       <%= g.label :earning_power_R801_to_1600, "R801-R1800" %>
       <br/>

       <%= g.radio_button :earning_power, :R801_to_R1600 %>
      <%= g.label :earning_power_R1601_to_3200, "R1601-R3200" %>
       <br/>

       <%= g.radio_button :earning_power, :R3210_to_R6400 %> 
      <%= g.label :earning_power_R3201_to_R6400, "R3201-R6400" %>
      <br/>

      <%= g.radio_button :earning_power, :R6401_to_R12800 %>
      <%= g.label :earning_power_R6401_to_R12800, "R6401-R12800" %>
       <br/>

       <%= g.radio_button :earning_power, :R6401_to_R12800 %> 
      <%= g.label :earning_power_R12801_plus, "More than R12800" %>
      <br/>

      <%= g.radio_button :earning_power, :na %>
      <%= g.label :earning_power_na, "Prefer not to answer" %>
       <br/>
      </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
