<h2> Please tell us what you thought about the Soil For Life trainer </h2>

	<%= f.label :trainer_good, "Overal I thought the trainer did a good job" %> <br/>
		
    <%= f.radio_button :trainer_good, :strongly_agree %> 
    <%= f.label :trainer_good, "Strongly Agree" %> <br/>

    <%= f.radio_button :trainer_good, :agree %> 
    <%= f.label :trainer_good, "Agree" %><br/>

 		<%= f.radio_button :trainer_good, :no_opinion %> 
    <%= f.label :trainer_good, "No Opinion" %> <br/>
            
    <%= f.radio_button :trainer_good, :disagree %> 
    <%= f.label :trainer_good, "Disagree" %><br/>

    <%= f.radio_button :trainer_good, :strongly_disagree %> 
    <%= f.label :trainer_good, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :trainer_understandable, "The trainer communicated clearly and was easy to understand" %> <br/>

		<%= f.radio_button :trainer_understandable, :strongly_agree %> 
    <%= f.label :trainer_understandable, "Strongly Agree" %> <br/>

    <%= f.radio_button :trainer_understandable, :agree %> 
    <%= f.label :trainer_understandable, "Agree" %> <br/>

 		<%= f.radio_button :trainer_understandable, :no_opinion %> 
    <%= f.label :trainer_understandable, "No Opinion" %> <br/>
            
    <%= f.radio_button :trainer_understandable, :disagree %> 
    <%= f.label :trainer_understandable, "Disagree" %> <br/>

    <%= f.radio_button :trainer_understandable, :strongly_disagree %> 
    <%= f.label :trainer_understandable, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :trainer_helpful, "The trainer was helpful" %> <br/>
		<%= f.radio_button :trainer_helpful, :strongly_agree %> 
    <%= f.label :trainer_helpful, "Strongly Agree" %> <br/>

    <%= f.radio_button :trainer_helpful, :agree %> 
    <%= f.label :trainer_helpful, "Agree" %> <br/>

 		<%= f.radio_button :trainer_helpful, :no_opinion %> 
    <%= f.label :trainer_helpful, "No Opinion" %> <br/>
            
    <%= f.radio_button :trainer_helpful, :disagree %> 
    <%= f.label :trainer_helpful, "Disagree" %> <br/>
            
    <%= f.radio_button :trainer_helpful, :strongly_disagree %> 
    <%= f.label :trainer_helpful, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :trainer_approachable, "The trainer was easy to talk to" %> <br/>
		<%= f.radio_button :trainer_approachable, :strongly_agree %> 
    <%= f.label :trainer_approachable, "Strongly Agree" %> <br/>

    <%= f.radio_button :trainer_approachable, :agree %> 
    <%= f.label :trainer_approachable, "Agree" %> <br/>

 		<%= f.radio_button :trainer_approachable, :no_opinion %> 
    <%= f.label :trainer_approachable, "No Opinion" %> <br/>
            
    <%= f.radio_button :trainer_approachable, :disagree %> 
    <%= f.label :trainer_approachable, "Disagree" %> <br/>
            
    <%= f.radio_button :trainer_approachable, :strongly_disagree %> 
    <%= f.label :trainer_approachable, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :trainer_qualitative_positive, "What did you like about the trainer?" %> <br>
		<%= f.text_field :trainer_qualitative_positive %> 
	<br/>

	<%= f.label :trainer_qualitative_positive, "What could be better about the trainer?" %> <br/> 
		<%= f.text_field :trainer_qualitative_negative %>
	<br/>