<h2> Please tell us what you thought about the Soil For Life Training </h2>

	<%= f.label :training_good, "Overal I thought the trainer did a good job" %> <br/>

		<%= f.radio_button :training_good, :strongly_agree %> 
        <%= f.label :training_good, "Strongly Agree" %> <br/>

      	<%= f.radio_button :training_good, :agree %> 
        <%= f.label :training_good, "Agree" %> <br/>

 		<%= f.radio_button :training_good, :no_opinion %> 
        <%= f.label :training_good, "No Opinion" %> <br/>
            
      	<%= f.radio_button :training_good, :disagree %> 
        <%= f.label :training_good, "Disagree" %> <br/>

      	<%= f.radio_button :training_good, :strongly_disagree %> 
        <%= f.label :training_good, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :training_information_helpful, "The information presented was helpful" %> <br/>

		<%= f.radio_button :training_information_helpful, :strongly_agree %> 
        <%= f.label :training_information_helpful, "Strongly Agree" %> <br/>

      	<%= f.radio_button :training_information_helpful, :agree %> 
        <%= f.label :training_information_helpful, "Agree" %> <br/>

 		<%= f.radio_button :training_information_helpful, :no_opinion %> 
        <%= f.label :training_information_helpful, "No Opinion" %> <br/>
            
      	<%= f.radio_button :training_information_helpful, :disagree %> 
        <%= f.label :training_information_helpful, "Disagree" %> <br/>

      	<%= f.radio_button :training_information_helpful, :strongly_disagree %> 
        <%= f.label :training_information_helpful, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :training_understandable, "The training was easy to understand" %> <br/>
		<%= f.radio_button :training_understandable, :strongly_agree %> 
        <%= f.label :training_understandable, "Strongly Agree" %> <br/>

      	<%= f.radio_button :training_understandable, :agree %> 
        <%= f.label :training_understandable, "Agree" %> <br/>

 		<%= f.radio_button :training_understandable, :no_opinion %> 
        <%= f.label :training_understandable, "No Opinion" %> <br/>
            
     	<%= f.radio_button :training_understandable, :disagree %> 
       	<%= f.label :training_understandable, "Disagree" %> <br/>


      	<%= f.radio_button :training_understandable, :strongly_disagree %> 
        <%= f.label :training_understandable, "Strongly Disagree" %> <br/>
	<br/>
	
	<%= f.label :training_support_helpful, "The follow-up/Support visits were helpful" %> <br/>
		<%= f.radio_button :training_support_helpful, :strongly_agree %> 
    	<%= f.label :training_support_helpful, "Strongly Agree" %> <br/>

      	<%= f.radio_button :training_support_helpful, :agree %> 
        <%= f.label :training_support_helpful, "Agree" %> <br/>

 		<%= f.radio_button :training_support_helpful, :no_opinion %> 
        <%= f.label :training_support_helpful, "No Opinion" %> <br/>
            
      	<%= f.radio_button :training_support_helpful, :disagree %> 
        <%= f.label :training_support_helpful, "Disagree" %> <br/>

		<%= f.radio_button :training_support_helpful, :strongly_disagree %> 
        <%= f.label :training_support_helpful, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :training_qualitative_positive, "The information presented was helpful" %> <br>
		<%= f.radio_button :training_qualitative_positive, :strongly_agree %> 
    	<%= f.label :training_qualitative_positive, "Strongly Agree" %> <br/>

      	<%= f.radio_button :training_qualitative_positive, :agree %> 
        <%= f.label :training_qualitative_positive, "Agree" %> <br/>

 		<%= f.radio_button :training_qualitative_positive, :no_opinion %> 
        <%= f.label :training_qualitative_positive, "No Opinion" %> <br/>
            
      	<%= f.radio_button :training_qualitative_positive, :disagree %> 
        <%= f.label :training_qualitative_positive, "Disagree" %> <br/>

		<%= f.radio_button :training_qualitative_positive, :strongly_disagree %> 
        <%= f.label :training_qualitative_positive, "Strongly Disagree" %> <br/>
	<br/>

	<%= f.label :training_qualitative_positive, "What was good about the training?" %> <br/>
		<%= f.text_field :training_qualitative_positive %>
	<br/>

	<%= f.label :training_qualitative_negative, "What could be better about the training?" %> <br/>
		<%= f.text_field :training_qualitative_negative %>
	<br/>

