<%= form_for @group_evaluation do |f| %>
<div class ="field">
<%= render :partial => 'group_and_date_step' %>

<%= render :partial => 'training_step' %>

<%= render :partial => 'trainer_step' %>

<%= render :partial => 'msc_step' %>
</div>

	<% end %>