<div class="panel panel-default">
<%= form_for([@group, @gardener, @gardener.build_follow_up_visit_impression]) do |g| %>
<fieldset>
    <p>
      <%= g.label :future_plan, "What are they planning to do next in their garden?" %> <br/>
      <%= g.text_field :future_plan %>
    </p>

    <p>
      <%= g.label :issue, "What are the issues/challenges in the garden?" %> <br/>
      <%= g.text_field :issue%> 
    </p>
    
    <p>
      <%= g.label :positive, "What is good about the garden?" %> <br/>
      <%= g.text_field :positive %>
      </p>

      <p>
      <%= g.label :negative, "What could be better about the garden?" %> <br/>
      <%= g.text_field :negative %>
      </p>

      <p>
      <%= g.label :general_comment, "Any other comments?" %> <br/>
      <%= g.text_field :general_comment %>
      </p>


<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
