<div class="panel panel-default">
<%= form_for([@group, @gardener, @gardener.build_follow_up_visit_selling]) do |g| %>
<fieldset>

      <%= g.label :selling, "Is the gardener selling anything that has come from the garden?" %> <br/>
      <%= g.check_box :selling %> <body> rememeber to tick if true </body>
    </p>

     <p>
      <%= g.label :selling_what, "What has the gardener sold in the last month?" %> <br/>
      <%= g.text_field :selling_what%> 
    </p>
    
<p>
      <%= g.label :selling_amount %> <br/>
      <%= g.number_field :selling_amount %>
      </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
