<div class="panel panel-default">
<%= form_for([@group, @gardener, @experience]) do |g| %>
<%= render "shared/error_messages", :target => @experience %>
<fieldset>

<p>
      <%= g.label :previous_experience, "Do you have any experience gardening" %> <br/> 
      <%= g.check_box :previous_experience %> <body> *Tick if gardener has any previous experience* </body>
    </p>

    <p>
      <%= g.label :experience_qualitative, "What experience do you have?"  %> <br/>
      <%= g.text_field :experience_qualitative%>
    </p>

    <p>
      <%= g.label :currently_growing, "Are you currenly growing vegetables?" %> <br/>
      <%= g.check_box :currently_growing %>  <body> *Tick if gardener is currently growing</body>
   <br/> 
    </p>

    <p>
      <%= g.label :currently_growing_neg, "Why are you not growing vegetables?" %> <br/>
      <%= g.text_field :currently_growing_neg %>
    </p>
    <p>
    <%= g.label :usage, "What do you use your vegetables for?" %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Eating", nil) %>
    <%= g.label(:usage_eating, "Eating") %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Selling", nil) %>
    <%= g.label(:usage_eating, "Selling") %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Swapping", nil) %>
    <%= g.label(:usage_eating, "Swapping") %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Sharing", nil) %>
    <%= g.label(:usage_eating, "Sharing") %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Giving to soup kitchens", nil) %>
    <%= g.label(:usage_eating, "Giving to soup kitchens") %> <br>
    <%= g.check_box(:usage, {:multiple => true}, "Making jams and chutneys", nil) %>
    <%= g.label(:usage_eating, "Making jams and chutneys") %> <br>
    </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
