<%= simple_form_for(@training_evaluation) do |f| %>
  <%= f.error_notification %>

    <div class="control-group">
      <%= f.label :group_id %><br />
      <div class="controls">
      <%= f.collection_select :group_id, Group.order("id ASC"), :id, :group_name %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
