<div class="panel panel-default">
<%= form_for([@group, @gardener, @gardener.build_ability]) do |g| %>
<fieldset>
<div class="btn-group btn-group-justified">
      <%= g.label :water_access, "How do you access water?" %> <br/>
        <%= g.radio_button :water_access, :inside_dwelling %>
       <%= g.label :water_access_inside_dwelling, "There is water inside the house" %>
      <br/>

      <%= g.radio_button :water_access, :inside_yard %>
      <%= g.label :water_access_inside_yard, "There is water inside the yard, but not in the house" %>
       <br/>

      <%= g.radio_button :water_access, :community_stand_less_than_200 %>
      <%= g.label :water_access_community_stand_less_than_200, "Water is recieved at a community stand less than 200m away" %>
       <br/>

       <%= g.radio_button :water_access, :community_between_200_and_500 %> 
       <%= g.label :water_access_community_stand_between_200_and_500, "Water is recieved at a community stand between 200m to 500m away" %>
      <br/>

        <%= g.radio_button :water_access, :community_between_500_and_1km %>
         <%= g.label :water_access_community_stand_between_500_and_1km, "Water is recieved at a community stand between 500m to 1km away" %>
       <br/>

       <%= g.radio_button :water_access, :comunity_futher_than_1km %>
       <%= g.label :water_access_community_stand_futher_than_1km, "Water is recieved at a community stand futher than 1km away" %>
      </br>
      </div>

        <p>
      <%= g.label :tools, "Do you have any of your own gardening tools?" %> <br/>
      <%= g.check_box :tools %> <body> *Tick if gardener has tools* </body>
     </p>
     <p>
    <%= g.label :tools_list, "do you have any of the following tools?" %> <br>
    <%= g.check_box(:tools_list, {:multiple => true}, "spade", nil) %>
    <%= g.label(:tools_list_spade, "spade") %> <br>
    <%= g.check_box(:tools_list,  {:multiple => true}, "Shovel", nil) %>
    <%= g.label(:tools_list_spade, "shovel") %> <br>
    <%= g.check_box(:tools_list, {:multiple => true}, "Rake", nil) %>
     <%= g.label(:tools_list_spade, "rake") %> <br>
   </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
