<div class="panel panel-default">
<strong>Add a Home Garden</strong>
<%= form_for([@group, @gardener, @gardener.build_follow_up_visit_garden]) do |g| %>
<fieldset>

      <%= g.label :still_gardening?, "Is the gardener still gardening?" %> <br/>
      <%= g.check_box :still_gardening %> <body> rememeber to tick if true </body>
    </p>

    <p>
       <%= g.radio_button :rating, :one %>
      <%= g.label :rating_1, "1, Garden not good at all, gardener not practicing SFL gardening methods." %> <br/>
     <%= g.radio_button :rating, :two %>
      <%= g.label :rating_1, "2, Garden not good, gardener is only practicing a few SFL gardening methods." %> <br/>
      <%= g.radio_button :rating, :three %>
      <%= g.label :rating_3, "3, Garden is OK,  gardener is practicing some SFL methods." %> <br/>
      <%= g.radio_button :rating, :four %>
      <%= g.label :rating_4, "4, Garden is Good, gardener is practicing many SFL methods" %> <br/>
      <%= g.radio_button :rating, :five %>
      <%= g.label :rating_5, "5, Garden is Excellent, the gardener is practicing most SFL methods." %> <br/>
    </p>

    <p>
      <%= g.label :mini_nursery, "Does gardener have a mini-nursery?" %> 
      <%= g.check_box :mini_nursery %>
    </p>
    <p>
      <%= g.label :compost_heap, "Does gardener have a Compost heap?" %> 
      <%= g.check_box :compost_heap %>
      </p>
    <p>
      <%= g.label :trench_bed, "Does gardener have a trench bed?" %> 
      <%= g.check_box :trench_bed%> 
    </p>

     <p>
      <%= g.label :trench_bed_sum, "How many trench beds does the gardener have?" %> <br/>
      <%= g.number_field :trench_bed%> 
    </p>
    

    
        <p>
      <%= g.label :container_garden, "Does gardener have a Container Garden?" %> 
      <%= g.check_box :container_garden %>
      </p>

        <p>
      <%= g.label :container_garden_sum, "How many container gardens does the gardener have?" %>  <br/>
      <%= g.number_field :container_garden_sum %>
      </p>

          <p>
      <%= g.label :other, "Does gardener have any other form of garden?" %> 
      <%= g.check_box :other %>
      </p>
    <p>
      <%= g.label :other_qualitative, "What other kind of Garden does the gardener have?" %> 
      <%= g.text_field :other_qualitative %>
      </p>


<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
