<div class="panel panel-default">
<strong>Add a Home Garden</strong>
<%= form_for([@group, @gardener, @garden]) do |g| %>

<%= render "shared/error_messages", :target => @garden %>

      <%= g.label :garden_at_home, "is the garden located at home?" %> 
      <%= g.check_box :garden_at_home %>
    </p>

    <p>
      <%= g.label :garden_location %> 
      <%= g.text_field :garden_location %>
    </p>

    <p>
      <%= g.label :garden_width %> 
      <%= g.text_field :garden_w %>
    </p>

    <p>
      <%= g.label :garden_length %>
      <%= g.text_field :garden_l %>
    </p>
    <p>
    <%= g.label :avatar, "please take a picture of the garden" %>
    <%= g.file_field :avatar %>
    </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
