
<%= form_for([@group, @gardener, @garden]) do |g| %>
<div class="panel panel-default">

<%= render "shared/error_messages", :target => @garden %>
  
      <div class="field">
      <h4> 1.) Is the garden located at home?</h4>
      <%= g.check_box :garden_at_home %>
    </div>

    <div class="field">
    <h4> 2.) If the garden is not located at home, what is the address of the garden? </h4>
      <%= g.text_field :garden_location %>
    </div>

    <div class="field">
    <h4> What is the width of the garden? </h4>
      <%= g.text_field :garden_w %>
    </div>

    <div class="field">
    <h4> What is the length of the garden? </h4>
      <%= g.text_field :garden_l %>
    </div>

    <div class="field">
    <h4> Please attach picture of the gardener's garden. </h4>
    <h6> **If you are struggling to attach photo please whatsapp the photo to Ryan** </h6>
    <%= g.file_field :avatar %>
    </div>

  <div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
  </div>
</div>
<% end %>
