<%= form_for(@phone_rental) do |f| %>
  <% if @phone_rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone_rental.errors.count, "error") %> prohibited this phone_rental from being saved:</h2>

      <ul>
      <% @phone_rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_id %><br>
  <div class="controls">
      <%= f.collection_select :phone_id, Phone.order("id ASC"), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br>
    <div class="controls">
      <%= f.collection_select :user_id, User.order("id ASC"), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.number_field :data %>
  </div>
  <div class="field">
    <%= f.label :charger, "did the trainer take a charger" %><br>
    <%= f.check_box :charger %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
