<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @phone_rental.phone.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone_rental.user.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @phone_rental.data %>
</p>

<p>
  <strong>Charger:</strong>
  <%= @phone_rental.charger %>
</p>

<%= link_to 'Edit', edit_phone_rental_path(@phone_rental) %> |
<%= link_to 'Back', phone_rentals_path %>
