<div class="panel panel-default">
<%= form_for([@group, @gardener, @grant]) do |g| %>
<%= render "shared/error_messages", :target => @grant %>
<fieldset>
<div class="btn-group btn-group-justified">
     <p>
      <%= g.label :recieved, "Are you currently recieving a grant?" %> <br/>
      <%= g.check_box :recieved %> <body> *Tick the box if gardener recieves a grant* </body>
     </p>
       <p>
      <%= g.label :grant_type, "What type of grant do you recieve?" %>  <br/>
       <%= g.radio_button :grant_type, :child_mantaince %>
       <%= g.label :grant_type_child_mantaince, "Child mantaince" %>
       <br/>

      <%= g.radio_button :grant_type, :disability %> 
      <%= g.label :grant_type_disability, "Disability" %>
      <br/>

      <%= g.radio_button :grant_type, :casual %>
      <%= g.label :grant_type_casual, "Casual" %>
       <br/>

      <%= g.radio_button :grant_type, :old_age %> 
      <%= g.label :type_old_age, "Old Age" %>
      <br/>
      
    </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
