<div class="panel panel-default">
<%= form_for([@group, @gardener, @sfl]) do |g| %>
<%= render "shared/error_messages", :target => @sfl %>
<fieldset>
<div class="btn-group btn-group-justified">
<h4> how did you hear about Soil For Life? </h4> <br/>

      <%= g.radio_button :referral, :friend_or_neighbour %> 
      <%= g.label :referral, "A friend, family or neighbour" %> <br/>
      
      <%= g.radio_button :referral, :sfl_trainer %>
      <%= g.label :referral_sfl_trainer, "A Soil For Life trainer" %>
       <br/>
      <%= g.radio_button :referral, :sfl_event %>
      <%= g.label :referral_sfl_event, "A Soil For Life Event" %>
       <br/>
    </p>

   <p>
   <%= g.label :other_organizations, "Have you revieved help from any other organizations?" %> <br>
<%= g.check_box :other_organizations %> <body> *Please tick the box if they have* </body>
 </p>
<p>
 <%= g.label :other_organizations_qualitative, "which other organizations have you recieved help from?" %> <br>
  <%= g.text_field :other_organizations_qualitative %>
   </p>
<p>
<%= g.label :ambition, "Why do you want to learn how to grow vegetables?" %> <br/>
<%= g.text_field :ambition %>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
