<div class="panel panel-default">
<%= form_for([@group, @gardener, @expenditure]) do |g| %>
<%= render "shared/error_messages", :target => @expenditure %>

<fieldset>
<div class="btn-group btn-group-justified">
<h4> When you buy vegitables where do you usually buy them from? </h4> <br/>
  <%= g.radio_button :where, :shop_or_supermarket %>
      <%= g.label :where, "Shop or Supermarket" %> <br/>
      <%= g.radio_button :where, :stand_or_stall %>
      <%= g.label :where, "Stand or stall" %> <br/>
       <%= g.radio_button :where, :tuck_shop %> 
      <%= g.label :where, "Tuck shop" %><br/>
       <%= g.radio_button :where, :friends_or_neighbours %>
      <%= g.label :where_friends_or_neighbours, "Friends or neighbours" %>  <br/>
     <%= g.radio_button :where, :dont_buy %> 
      <%= g.label :where_dont_buy, "I don’t buy vegetables" %> <br/>

<h4> How Much do you usually spend on vegetables per month? </h4>

  <%= g.radio_button :amount, :none %> 
  <%= g.label :amount_none, "None" %> <br/>
    
 <%= g.radio_button :amount, :R1_to_R50 %> 
     <%= g.label :amount_R1_to_R50, "R1-R50" %> <br/>

      <%= g.radio_button :amount, :R51_to_R100 %> 
      <%= g.label :amount_R51_to_R100, "R51-R100" %> <br/>

      <%= g.radio_button :amount, :R101_to_R150 %> 
       <%= g.label :amount_R101_to_150, "R101-R150" %> <br/>
 
      <%= g.radio_button :amount, :R901_to_R1200 %> 
      <%= g.label :amount_R151_to_200, "R151-R200" %> <br/>
      
      <%= g.radio_button :amount, :R201_to_R250 %> 
      <%= g.label :amount_R201_to_R250, "R201-R250" %> <br/>
      
      <%= g.radio_button :amount, :R2500_plus %> 
      <%= g.label :amount_250_plus, "More than R250 a month" %> <br/>
      
      <%= g.radio_button :amount, :na %> 
      <%= g.label :amount_na, "Prefer not to answer or don't know" %> <br/>
</div>      

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
