<div class="panel panel-default">
<strong>Gardener Living Arrangements</strong>
<%= form_for([@group, @gardener, @gardener.build_living_arrangement]) do |g| %>
<fieldset>
<div class="btn-group btn-group-justified">
      <%= g.radio_button :marital_status, :single %> 
      <%= g.label :maritial_status_single, "Single" %><br/>
      
      <%= g.radio_button :marital_status, :married %> 
      <%= g.label :maritial_status_married, "Married" %> <br/>
      
      <%= g.radio_button :marital_status, :seperated %> 
      <%= g.label :maritial_status_seperated, "Seperated" %> <br/>
      
      <%= g.radio_button :marital_status, :living_together_like_a_married_couple %>
      <%= g.label :maritial_status_living_together_like_a_married_couple, "Living Together Like A Married Couple" %>
      <br/>
     
     <%= g.radio_button :marital_status, :divorced %>
      <%= g.label :maritial_status_divorced, "Divorced" %>
       <br/>

      <%= g.radio_button :marital_status, :widowed %> 
      <%= g.label :maritial_status_seperated, "Widowed" %>
      <br/>

       <p>
      
      <%= g.label :number_of_people_in_household %> 
      <%= g.text_field :number_of_people_in_household %>
    </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
