<%= form_for([@group, @gardener, @living_arrangement]) do |g| %>
<div class="panel panel-default">

<%= render "shared/error_messages", :target => @living_arrangement %>

  <div class="btn-group btn-group-justified">
      <h4> 1.) What is your maritial status?</h4>
      <%= g.radio_button :marital_status, :single %> 
      <%= g.label :maritial_status_single, "Single" %><br/>
      
      <%= g.radio_button :marital_status, :married %> 
      <%= g.label :maritial_status_married, "Married" %> <br/>
      
      <%= g.radio_button :marital_status, :seperated %> 
      <%= g.label :maritial_status_seperated, "Seperated" %> <br/>
      
      <%= g.radio_button :marital_status, :living_together_like_a_married_couple %>
      <%= g.label :maritial_status_living_together_like_a_married_couple, "Living Together Like A Married Couple" %><br/>
     
     <%= g.radio_button :marital_status, :divorced %>
      <%= g.label :maritial_status_divorced, "Divorced" %>
       <br/>

      <%= g.radio_button :marital_status, :widowed %> 
      <%= g.label :maritial_status_seperated, "Widowed" %>
  </div>
      
  <div class="field">
  <h4> 2.) How many people live in your household? </h4> <br/>
      <%= g.text_field :number_of_people_in_household %>
  </div>

  <div class="form-actions">
      <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
  </div>

</div>
<% end %>

