<%= form_for([@group, @gardener, @support_visit]) do |g| %>
<div class="panel panel-default">

 <% if @support_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_visit.errors.count, "error") %> prohibited this support visit from being saved:</h2>

      <ul>
      <% @support_visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= g.label :avatar, "please take a picture of the gardener in the garden" %>
    <%= g.file_field :avatar %>
    </div>

  <div class="field">

    <%= g.label :notes, "Please make a note if gardener was not around or any other notes you would like to make for records sake." %><br/>
    <%= g.text_field :notes %>  
    </div>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
     </div>
</div>
<% end %>

