<%= form_for([@group, @gardener, @general_statement]) do |g| %>
<div class="panel panel-default">
<%= render "shared/error_messages", :target => @general_statement %>
<fieldset>
<div class="btn-group btn-group-justified">
      <%= g.label :gardener, "Anything else you would like to add?"%><br/>
      <%= g.text_field :gardener %> <br/>
      <%= g.label :trainer, "Anything else you as the trainer would like to add?"%> <br/>
      <%= g.text_field :trainer %> <br/>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
