<div class="panel panel-default">
<strong>Gardener Living Arrangements</strong>
<%= form_for([@group, @gardener, @gardener.build_living_arrangement]) do |g| %>
<fieldset>
<div class="btn-group btn-group-justified">
      <%= g.label :maritial_status_single, "Single" %>
      <%= g.radio_button :marital_status, :single %> <br/>
      <%= g.label :maritial_status_married, "Married" %>
      <%= g.radio_button :marital_status, :married %> <br/>
      <%= g.label :maritial_status_seperated, "Seperated" %>
      <%= g.radio_button :marital_status, :seperated %> <br/>
      <%= g.label :maritial_status_living_together_like_a_married_couple, "Living Together Like A Married Couple" %>
      <%= g.radio_button :marital_status, :living_together_like_a_married_couple %> <br/>
      <%= g.label :maritial_status_divorced, "Divorced" %>
      <%= g.radio_button :marital_status, :divorced %> <br/>
      <%= g.label :maritial_status_seperated, "Widowed" %>
      <%= g.radio_button :marital_status, :widowed %> <br/>

       <p>
      <%= g.label :number_of_people_in_household %> 
      <%= g.text_field :number_of_people_in_household %>
    </p>

<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
<% end %>
</div>
</fieldset>
