<%= form_for(@gardener, url: navigation_index_path) do |g| %>
	<div class ="field">
	<%= g.label :group_id %>
	<%= g.collection_select :group_id, current_user.groups.order(:id, :group_name),:id, :group_name %>
	</div>

	<div class="field">
    	<%= g.label :first_name %> 
    	<%= g.text_field :first_name %>
    </div>
   	
	<div class="field">
    	<%= g.label :last_name %> 
    	<%= g.text_field :last_name %>
    </div>

    <div class="field">
    	<%= g.label :contact_number %> 
    	<%= g.text_field :contact_number %>
    </div>

    <div class="field">
    	<%= g.label :address %>
    	<%= g.text_field :address %>
    </div>

    <div class="field">
    	<%= g.label :id_number %>
   		<%= g.number_field :id_number %>
    </div>

    <div class="field">
    	<%= g.label :race %> <br/>
    	<%= g.radio_button :race, :black %> 
    	<%= g.label :race_white, "Black" %> |
     	<%= g.radio_button :race, :coloured %> 
     	<%= g.label :race_coloured, "Coloured" %> <br/>
     	<%= g.radio_button :race, :indian %> 
     	<%= g.label :race_indian, "Indian" %> |
      	<%= g.radio_button :race, :white %> 
      	<%= g.label :race_white, "White" %> <br/>
      
    	<%= g.radio_button :race, :other %> 
    	<%= g.label :race_other, "Other" %> <br/>
    </div>


    <div class="field">
    	<%= g.label :avatar, "please take a picture of the gardener" %>
    	<%= g.file_field :avatar %>
    </div>

	<div class="form-actions">
       <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
	</div>
<% end %>

	